@font-face {
    font-family: PFAgora; 
    src: local("PFAgora"), url(../fonts/pfagora.ttf); 
  }
.wrap {max-width: 1130px; margin-right: auto; margin-left: auto;}
.grayscale {
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); 
}
.visible-big {display: inline;}
@media (max-width: 991px) {
 .visible-big {display: none;}
}

/* top toolbar */
.toolbar {width: 100%; float: left; clear: after; font-family: PFAgora; font-size: 14px; background-image: linear-gradient(to bottom,#fefefe,#f7f7f7);}
.toolbar .icon-top {height: 20px; padding-right: 5px;}
.toolbar-item {float: left; width: 20%; border: 1px solid #ebe9e9; }
.toolbar-item .item-link {position: relative; display: table-cell; float: none; width: 1%; line-height: 40px; color: #373737; text-decoration: underline; text-align: center; vertical-align: center;}
.toolbar-item .item-link:hover {text-decoration: none;}
.toolbar-item .item-link-alt {position: relative; display: table-cell; float: none; width: 1%; line-height: 40px; color: #373737; text-align: center; vertical-align: center;}
.toolbar-item .item-link-alt span {font-size: 16px; padding-left: 5px;}

@media (max-width: 991px) {
 .toolbar {padding-left: 0px;}
 .toolbar .toolbar-item:first-child {margin-left: 40px;}
 .toolbar-item {width: 10%;}
 .toolbar-item:last-child {width: 20%; float: right; border:none; padding-top: 5px;}
 .toolbar-item .item-link-alt span {font-size: 20px; padding-left: 10px;}
}
@media (max-width: 767px) {
 .toolbar-item {width: 10%;} 
}
@media (max-width: 480px) {
 .toolbar-item {width: 11%;}
 .toolbar-item:last-child {width: 40%;}
}
/* top toolbar end */

/* header */
.header {padding: 15px 0; width: 100%; border-bottom: solid 3px #0066b3; min-height: 120px; font-family: 'Open Sans'; background: url(../img/rect_bg.png) ;}
.header hr {margin: 5px 0;}
.header .middle-item {padding: 15px 0;}
.header .last-item {padding: 18px 0;}
.header .weather strong {padding-right: 5px;}
.logotype {max-height: 70px;}
.logo {line-height: 120px;}
.btn-blue7d {background: #0066b3; color: #fff; border-radius: 0px; margin: 5px 10px; font-size: 18px; font-family: PFAgora;}
.btn-blue7d:hover {color: #fff;}
@media (max-width: 990px) {
 .header .last-item {padding: 0;}
}
@media (max-width: 480px) {
 .header {min-height: 20px; padding: 0;}
}
/* header end */


/* sidebar */
.sidebar {margin: 0; padding: 0; max-width: 245px;}
.nav_bar {margin-bottom: 0; padding: 0 15px;}
.nav-pills > li > a {background: none; color: #0066b3; text-decoration: underline; padding: 5px 0px; font-size: 17px; font-weight: 400;}
.nav-pills > li > a:hover {background: none; text-decoration: none; }
.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {background: none; color: #0066b3; text-decoration: none;}
.navbar-toggle {float: left;}
.navbar-toggle .icon-bar { background-color: #0066b3; height: 3px;}
.sidebar .cats .navmenu {padding: 15px 0;}
.sidebar .cats-bussines .navmenu-nav {background: #f7f7f7;}
.sidebar .cats-bussines, .sidebar.cats-bussines .nav_bar {padding: 0;}
.sidebar .cats-bussines li {border-bottom: 1px solid #fff;}
.sidebar .cats-bussines li:hover {background: #fff;}
.sidebar .cats-bussines li.active {background: #fff;}
.sidebar .cats-bussines li a {padding: 5px 15px; text-decoration: none; font-size: 15px; font-weight: 300;}
.sidebar .cats-bussines li.active a {font-weight: 600;}
.sidebar .cats-bussines li:hover a {font-weight: 600;}
.sidebar .cats-bussines li a span {text-decoration: underline;}
.sidebar .cats-bussines li a [class^="icon-"] {text-decoration: none;}
.sidebar .cats-bussines .navbar-form {padding: 10px 15px;}
.sidebar .cats-bussines .dashed {padding: 0 15px;}
.sidebar .back {color: #000; font-weight: 300;}
.sidebar .form-control, .sidebar .btn {border-radius: 0; border: 0;}
.sidebar .input-group {border: solid 1px #0066b3;}
.sidebar .input-group .icon-search {color: #0066b3;}
.sidebar .btn-default:hover {background-color: #fff;}
.sidebar phone {color: #0066b3; font-size: 24px; font-family: Open Sans;}
.sidebar .nav-pills {border-bottom: dashed 1px #ddd; float: left; width: 100%;}
.sidebar {border-right: dashed 1px #ddd;}
.sidebar .dashed {border-top: dashed 1px #ddd;}
.sidebar .navbar-form {padding: 10px 0px;}
.sidebar .navbar-collapse {padding: 0;}
.sidebar li a.adclassy, .sidebar li a.adclassy span {text-decoration: none; color: #fff; background-color: #60b7f8; border-radius: 0;}
.sidebar li a.adclassy:hover, .sidebar li a.adclassy:hover span {background-color: #2a95e6;}
@media (max-width: 991px) {
  .sidebar {top: 40px; position: absolute; background-color: #fff; z-index: 99;}

}
/* sidebar end */

/* content */
.red {color: #d35d5d;}
.red:hover {color: #d35d5d;}
.date {color: #777777; line-height: 28px;}
.content {font-family: 'Open Sans'; margin-right: 0; padding-right: 10px;}
.content .featured img {width: 43%; margin-right: 2%; float: left;}
.content .featured .article-content {width: 55%; float: left;}
.content .cat-title {font-size: 24px; font-weight: 600; margin: 10px 0 20px 0;}
.content .news-item {width: 100%; float: left; border-bottom: dashed 1px #ddd; margin: 10px 0;}
.content h2 {margin: 0;}
.content a {font-family: PFAgora;}
.content .title {font-size: 21px; color: #000;}
.content .soc-links {width: 100%;}
.content .meta {margin: 10px 0; float: left; width: 100%;}
.content .article-text {font-size: 14px; text-align: justify;}
.content .soc-links {padding-top: 10px;}
.content .soc-links a {font-size: 14px; font-weight: 300; color: #000; vertical-align: middle;}
.content .soc-links .view {line-height: 20px;}
.content .soc-links .like {margin-left: 15px;}
.content .icon-eye {font-size: 20px; font-weight: 300;}
.content .glyphicon-thumbs-up {font-size: 20px; font-weight: 300;}
.content .similar {width: 100%; padding: 20px 0; float: left;}
.content .similar a {color: #000; font-size: 19px;}
.content .new-item {float: left;}
.content .new-item a {color: #000;}
.content .new-item img {float: left; width: 30%;}
.content .new-item .title {float: right; font-size: 19px; width: 70%; padding-left: 10px;}
.content .new-item .meta {width: 50%; margin: 0; float: right;}
.content .new-item .date {float: right;}
.breadcrumb {background-color: #fff; border-bottom: dashed 1px #ddd; border-radius: 0; margin-bottom: 0px; padding: 5px 15px; width: 100%; float: left;}
.content .bussines-title {font-weight: 600; font-size: 27px; margin-top: 10px;}
.content .bussines-item {width: 100%; border-bottom: 1px solid #ddd; padding: 20px 0; float: left;}
.content .bussines-img {height: 100%; padding-left: 0;}
.content .bussines-item .bussines-title {font-size: 18px; font-weight: 600; margin-top: 0;}
.content .bussines-item .bussines-title a {color: #000;}
.content .bussines-item .bussines-img {min-height: 175px;}
.content .bussines-votes {width: 100%;}
.content .bussines-votes .glyphicon {color: #c8c9ce; cursor: pointer;}
.content .bussines-votes .glyphicon:hover {color: #fcbf02;}
.content .bussines-votes .glyphicon.active {color: #fcbf02;}
.content .bussines-phones, .content .bussines-address {color: #777777;}
.content .bussines-link {margin: 5px 0;}
.content .bussines-cat {color: #000; text-decoration: underline;}
.content .bussines-cat:hover {text-decoration: none;}
.content .bussines-inner .bussines-img {min-height: 300px;}
.content .bussines-inner phone {font-size: 21px; font-weight: 600; color: #000;}
.content .bussines-item address {margin: 0;}
.content .bussines-item address a {text-decoration: none;}
.content .bussines-item .full-text {margin: 5px 0;}
.content .bussines-item .offers {padding-bottom: 20px; border-bottom: dashed 1px #ddd;}
.content .bussines-item .offers .bussines-title {margin-bottom: 10px;}
.content .tabs-cat, .content .list-autors {width: 100%; float: left; background-color: #f8f9f9; margin-bottom: 10px; padding-top: 5px;}
.content .tabs-cat li {background-color: #eaeaea; padding: 0 10px; margin-right: 5px; border-radius: 5px 5px 0  0;}
.content .tabs-cat li a {color: #000; text-decoration: none;}
.content .tabs-cat li a:hover {color: #0066b3; text-decoration: underline;}
.content .tabs-cat li.active a {color: #0066b3;}
.content .tabs-cat li:hover, .content .tabs-cat li.active {background-color: #cde2f1;}
.content .list-autors {padding-left: 2%;}
.content .list-autors li {width: 24%;}
.content .article {float: left; width: 100%;}
.content .article h1 {font-weight: 600; font-size: 27px; font-family: Helvetica; }
.content .article .soc-links {font-weight: 300; float: left;}
.content .article .data {color: #777777; }
.content .article .article-img {margin: 15px 0; float: left;}
.content .article .sharing {float: left; border-top: 1px dashed #e5e5e5; border-bottom: 1px dashed #e5e5e5; padding: 10px 0; margin: 10px 0; width: 100%;}
.content .article .sharing .share-text {font-size: 16px; font-weight: 600; line-height: 35px; float: left;}
.content .article .sharing .share-btn {float: left;}
.content .article .sharing .share-btn a {text-decoration: none; font-size: 30px; padding:5px;}
.content .article .sharing .share-btn .icon-facebook {color: #fff; background-color: #3b5998; padding: 2px; border-radius: 5px;}
.content .article .sharing .share-btn .icon-twitter {color: #fff; background-color: #55acee; padding: 2px; border-radius: 5px;}
.content .article .sharing .share-btn .icon-google-plus {color: #fff; background-color: #dc4a38; padding: 2px; border-radius: 5px;}
.content .article .sharing .btn-blue7d {margin: 0; padding: 4px 12px; float: right;}
.formad {background-color: #fefefe; margin: 5px 0; border-bottom: 1px solid #f0f0f0;}
#simple_search {background-color: #f7f7f7; width: 100%; margin: 5px 0;}
#simple_search .btn_editad {color: #084b7e; background-color: #dbeaf5; border-radius: 0;}
#simple_search .btn_editad:hover {background-color: #cee3f1;}
#simple_search .advant_search {color: #0960a2;}
#simple_search .search {width: 55%;}
#simple_search .search .icon-search {color: #0960a2;}
#advant_search {width: 100%; margin: 5px 0; display: none;}
#advant_search .form-group {margin: 5px 0; width: 100%;}
#advant_search .classy_cat {width: 50%;}
#advant_search label {padding-left: 10%;}
#advant_search #price_min, #advant_search #price_max {width: 10%;}
#advant_search .clearform {padding-left: 10%;}
#simple_search .form-control, #advant_search .form-control {border-radius: 0;}
.classy-item {width: 100%; margin-top: 20px; float: left; border-bottom: 1px solid #f0f0f1;}
.classy-item:last-child {margin-bottom: 30px;}
.classy-item a h4 {float: left; margin: 0; color: #000; font-weight: 600;}
.classy-item p {width: 100%; float: left;}
.classy-item .view {float: right;}
.classy-item data {float: left; line-height: 22px; color: #777777; padding-left: 20px;}
.classy-item.colored {background-color: #fef4f3; border: 1px solid #f9cbc3;}
a.edit_ad {font-size: 14px; font-weight: 300; padding-left: 30px;}
a.edit_ad  span {color: #d3d3d3; padding-right: 5px;}
a.edit_ad:hover  span {text-decoration: none;}
.steps {float: left; width: 100%; position: relative;}
.steps .progress {position: absolute; width: 100%; top: 20px;}
.steps .progress-bar {background-color: #5ab3f6;}
.steps .step {width: 60px; height: 60px; background-color: #5ab3f6; margin: 0 auto; border-radius: 50%; padding: 10px 19px; font-weight: 600; font-size: 20px; border: 5px solid #f7f7f7; color: #fff;}
.steps .disabled {color: #d1d1d1;}
.form_classyadd {margin: 5px 0; float: left; width: 100%;}
.form_classyadd .tooltip {width: 200px;}
.form_classyadd .form-control { border-radius: 0 ;}
.classytext_counters {background-color: #f8f8f8; border: 1px solid #ccc; float: left; width: 100%;}
.classytext_counters .counter {float: left; padding: 0 20px ;}
.classytext_counters .counter span {color: #4080be;}
.required {color: #d94a3a;}
.badge {background-color: #fff; color: #b1b1b1; border: 1px solid #b1b1b1;}
@media (max-width: 990px) {
 .date {padding-left: 10px;}
}
@media (max-width: 767px) {
 .content .list-autors li {width: 33%;}
}
@media (max-width: 480px) {
 #simple_search .search {width: 99%;}
 .content .featured img {width: 98%; margin-right: 2%; float: left;}
 .content .featured .article-content {width: 100%;}
 .date {padding-left: 0px;}
 .content .list-autors li {width: 49%;}
}


/* content end */

/* footer */
.unstyle {list-style: none;}
footer {width: 100%; background-color: #f6f6f6; float: left; padding-top: 20px; font-family: Open Sans;}
.footer-menu {width: 100%; clear: both; float: left;}
.footer-menu li {padding: 5px 0;}
.footer-menu li a {color: #000;}
.foot {background-color: #0066b3; color: #fff; padding: 25px; float: left; width: 100%;}
.foot a {color: #fff; text-decoration: underline;}
.foot a:hover {text-decoration: none;}
@media (max-width: 990px) {
 .footer-menu {padding-bottom: 10px;}
}
/* footer end */

/* subscribe */
.subscribe {padding-top: 10px;}
.subscribe input {display: inline-block; height: 30px; vertical-align: middle;}
.subscribe input:focus {outline: 0px none; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6); }
.subscribe .btn-blue7d {font-size: 16px; margin: 0 0 0 10px; padding: 3px 12px;}

/* end subscribe */


/*start floating menu*/
.navmenu, .navbar-offcanvas {border:none;}

html, body {
  height: 100%;
}
body {
  padding: 0;
}
.navmenu {
  
}
.navbar {
  display: block;
  text-align: center;
  width: 50px;
}
.navbar-brand {
  display: inline-block;
  float: none;
}
.navbar-toggle {
  position: absolute;
  float: left;
  margin-left: 1px;
  padding: 5px 10px;
  background-image: linear-gradient(to bottom, #FEFEFE, #F7F7F7);
  border-radius: 0;
}
.container {
  max-width: 100%;
}
.navbar-fixed-top {position: absolute; top: -40px;}

@media (min-width: 1px) {
  .navbar-toggle {
    display: block !important;
  }
}
@media (min-width: 992px) {
  body {
    padding: 0;
  }
  .navmenu {
    padding-top: 0;
  }
  .navbar {
    display: none !important; /* для IE8 */
  }
}
 
/*end floating menu*/